.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #1F90B2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  	
  height:30px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

body{
width:1400px;
}
.hell
{
float:right;
position: relative;
    
    display: inline-block;
    cursor: crosshair;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.heaven
{
visibility: hidden;
    width: 860px;
    
    /* background: #7cf2fe; For browsers that do not support gradients */    
    /*background: -webkit-linear-gradient(left top, #7cf2fe, #ffffff); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right, #7cf2fe, #ffffff); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom right,#7cf2fe, #ffffff); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to bottom right, #7cf2fe, #ffffff); */ 
    padding: 4px;
    background-color:#1F90B2;
    border-radius:4px;
    position: absolute;
    color:black;
    bottom: 125%;
    left: 70%;
    margin-left: -1000px;
}

.show {

visibility:visible;
-webkit-animation: fadeIn 1s;
 animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 100;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:100;}
}
.mySlides {display:none;
margin-left:100px;
height:300px;
width:1000px;
float:right;}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.main_graph
{
margin-left:20px;
margin-top:20px;
width:1300px;
height:500px;
}




.graph_area
{

height:200px;
width:140px;



}
.morninggraph
{
background-color:#ffffff;	
margin-top:10px;
border:none;
color:#000000;
width:140px;
height:50px;
}
.active{
  background-color: #717171;
}

.mySlides,.fade
{
  float:left;
  margin-left:16%
}
.dropbtn {
    background-color: #1F90B2;
    color: white;
    padding: 16px;
    margin-bottom: 5px;
    font-size: 12px;
    border: none;
    width:140px;
    height:50px;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    float:left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    height:100px;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown a:hover {background-color: #f1f1f1}

.show {
  display:inline-block;
}
